
.fullHeightLogin {
  min-height: 100vh;
  background-image: url(../images/jake-noren-LJTlJ3MVYKM-unsplash.jpg);
  background-size: cover;
}

.loginForm {
  opacity: 0.9;
  animation-duration: 0.6s;
  animation-name: fadein; 
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}
