#imgSize {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 150px;
  min-width: 120px;
}

#st {
  border-width: 2px;
}

.smallerText {
  font-size: 0.9rem;
  font-weight: lighter;
}