#imgSize {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 150px;
  min-width: 120px;
}

#st {
  border-width: 2px;
}

.text-info.smallerText {
  font-size: 0.7rem;
}

.linkAtBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}