/* this is putting the canvas on top of the camera stream*/
.drawingBuffer {
  margin-left: -60vw;
  width: 60vw;
}

.topMargin {
  margin-top: 49px;
}

video {
  border: 2px solid #17a2b8;
  box-sizing: border-box;
  width: 60vw;
}
