.startFullHeight {
  height: 100vh;
  background-image: url("../images/record-background-large-sq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.fadeIn {
  animation: fadein 2s ease-out;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
  }
