.startFullHeight {
  height: 100vh;
  background-image: url("../images/record-full.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fadeIn {
  animation: fadein 2s ease-out;
  border-radius: 10px;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
  }
